* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #333;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/joelson.png);
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: right top;
  animation: joelson 0.6s linear forwards;
  opacity: 1;
  z-index: -1;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

.title-main {
  display: inline-block;
  width: fit-content;
  font-size: 48px;
  margin: 0 4rem;
  opacity: 1;
  animation: spawning 0.6s 1.6s linear both;
  border-bottom: 4px solid transparent;
  transition: border-bottom .5s;
}

.title-main:hover{
  border-bottom-color: #333;
}

.main-main {
  width: 50%;
}

.sections{
  height: 100vh;
  width: 100%;
}

#section1 {
  background-image: url(../img/corte_joelson.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;
  animation: corte_joelson 0.8s 0.9s ease-in-out both;
}

/* animações da section 1 */
@keyframes joelson {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes corte_joelson {
  0% {
    background-position: -50% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes spawning {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* typewriter */

.typewriter-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* font-family: 'Courier New', Courier, monospace; */
  /* background-color: #f2f2f2; */
  width: fit-content;
  margin: 3rem 0 0 3rem;
}

.text_nav {
  /* display: inline-block; */
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  height: 6rem;
  width: fit-content;
  animation: spawning 0.6s 1.8s linear both;
  /* background-color: red; */
  position: relative;
}

.piscar::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 100%;
  background-color: transparent;
  position: absolute;
  border-radius: 2px;
  animation: piscar 1s steps(2) infinite both;
}

.piscar:hover::after {
  background-color: #333;
}

/* animação de foco maquina de escrever */

@keyframes piscar {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.headline{
  font-size: 2.6rem;
  /* font-weight: 600; */
  margin-top: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  filter: blur(10px);
  animation: pixel-clear 2s 2s forwards, spawning 0.6s 1.9s linear both;
}

/* animação de pixelated */

@keyframes pixel-clear {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}