:root{
  --green-color: #00ff00
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #333;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/joelson.png);
  background-size: auto 25%;
  background-repeat: no-repeat;
  background-position: right top;
  animation: joelson 0.6s linear forwards;
  opacity: 1;
  z-index: -1;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

.title-main {
  display: inline-block;
  width: fit-content;
  font-size: 48px;
  margin: 0 4rem;
  opacity: 1;
  animation: spawning 0.6s 1.6s linear both;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.5s;
}

.title-main:hover {
  border-bottom-color: #333;
}

.main-main {
  width: 50%;
}

.sections {
  height: 100vh;
  width: 100%;
}

#section1 {
  background-image: url(../img/corte_joelson.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;
  animation: corte_joelson 0.8s 0.9s ease-in-out both;
}

.transition {
  height: 50vh;
  width: 100%;
}

/* animações da section 1 */
@keyframes joelson {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes corte_joelson {
  0% {
    background-position: -50% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes spawning {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* typewriter */

.typewriter-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* font-family: 'Courier New', Courier, monospace; */
  /* background-color: #f2f2f2; */
  width: fit-content;
  margin: 3rem 0 0 3rem;
}

.text_nav {
  /* display: inline-block; */
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  height: 6rem;
  width: fit-content;
  animation: spawning 0.6s 1.8s linear both;
  /* background-color: red; */
  position: relative;
}

.piscar::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 100%;
  background-color: transparent;
  position: absolute;
  border-radius: 2px;
  animation: piscar 1s steps(2) infinite both;
}

.piscar:hover::after {
  background-color: #333;
}

/* animação de foco maquina de escrever */

@keyframes piscar {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.headline {
  font-size: 2.6rem;
  /* font-weight: 600; */
  margin-top: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  filter: blur(10px);
  animation: pixel-clear 2s 2s forwards, spawning 0.6s 1.9s linear both;
}

/* animação de pixelated */

@keyframes pixel-clear {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

/* section2 */

.transition1 {
  background: radial-gradient(
    ellipse 100% 70% at 50% 100%,
    #4b2c20 55%,
    white 35%
  );
}

.section2 {
  background: linear-gradient(#4b2c20, #2c1a14);
  color: #e6d5b8;
  /* border-top: 2px solid #2C1A14; */
}

.h2-section2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px rgba(255, 200, 150, 0.5);
  text-align: center;
}

.sobre {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* height: 100%; */
  width: 100%;
  margin-top: 2rem;
}

.sobre img {
  animation: ondas 5s ease-in-out infinite both;
}

.p-sobre {
  font-size: 1.6rem;
  line-height: 1.6;
  width: 45%;
}

@keyframes ondas {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* section3 */

.transition2 {
  background: radial-gradient(
    ellipse 100% 70% at 50% 100%,
    #0f0e0d 55%,
    #2c1a14 35%
  );
}

.section3 {
  background: linear-gradient(#0f0e0d, #110d11);
  color: #e6d5b8;
  /* border-top: 2px solid #1A141A; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.fa-brands {
  position: absolute;
  top: -100px; /* Inicia fora da tela */
  opacity: 0;
  color: var(--green-color);
  font-size: 3.125rem;
  cursor: pointer;
  transition: scale 0.5s;
}

.fa-brands:hover {
  scale: 1.5;
}

.terminal .p-interative {
  cursor: pointer;
}

.terminal .p-interative:focus {
  outline: 2px solid var(--green-color);
}

.terminal {
  background-color: transparent; /* Preto fosco */
  backdrop-filter: blur(25px);
  color: var(--green-color); /* Verde neon */
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  z-index: 1;
  height: 22.75rem;
  width: 31.90rem;
  overflow-y: scroll;
}

.terminal::-webkit-scrollbar{
  display: none;
}

.terminalInput {
  display: flex;
      align-items: center;
      /* border: 2px solid limegreen; */
      padding: 10px 0;
      /* width: auto; */
      min-width: 200px;
}

.prefix {
  user-select: none; /* Impede que o usuário selecione */
  pointer-events: none; /* Impede interações */
}

.input-area {
  background: transparent;
  border: none;
  outline: none;
  color: var(--green-color);
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  flex: 1;
  /* caret-color: transparent; Esconde o cursor padrão */
  width: 100px; /* Começa pequeno */
}

.terminal-marginTop {
  margin-top: 1rem;
}

.letra-piscar {
  animation: terminal-piscar 1s infinite steps(2);
}

/* letra do terminal piscando */
@keyframes terminal-piscar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/* matrix */

.matrix-container {
  position: absolute;
  color: var(--green-color);
  font-family: monospace;
  font-size: 14px;
  pointer-events: none;
}

.matrix-letter {
  position: absolute;
  opacity: 0.8;
  animation: fall 1.8s linear forwards;
  top: -3.225rem;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}
